.label {
    -fx-background-color: linear-gradient(to bottom right, #e9edff, #dceafe);
    -fx-border-color: #c5d0ed;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 6px;
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-background-insets: 0px 7px 0px 7px;
    -fx-text-fill: #26334d;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.add-label {
    -fx-background-color: #fff3c4;
    -fx-border-color: #f0d98a;
}

.marked-label {
    -fx-background-color: #d9f4e5;
    -fx-border-color: #9fd4b6;
}

.delete-label {
    -fx-background-color: #ffe0e4;
    -fx-border-color: #edabb7;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}
